@font-face {
	font-family: 'Fira Code';
	src:
		url('./../public/fonts/FiraCode-Regular.ttf') format('truetype'),
		url('./../public/fonts/FiraCode-Bold.ttf') format('truetype'),
		url('./../public/fonts/FiraCode-Light.ttf') format('truetype'),
		url('./../public/fonts/FiraCode-Medium.ttf') format('truetype'),
		url('./../public/fonts/FiraCode-SemiBold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

* {
	/* all: unset; */
	display: block;
	margin: unset;
	padding: unset;
	box-sizing: border-box;
	font-family: 'Fira Code', monospace;
	font-size: 1em;
	font-weight: lighter;
	color: #272727;
	background-color: #f0f0f0;
	text-align: center;
	transition: all 0.5s ease;
	transform-origin: center;
}

title {
	all: revert;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	gap: 2rem;
}

a {
	text-decoration: none;
	display: inline-block;
	transition: all 0.5s ease;
	transform-origin: center;
}

a:hover {
	cursor: pointer;
	transform: scale(1.4);
}

a:visited {
	color: rgba(110, 110, 110, 0.138);
}

main {
	flex-grow: 1;
}

svg {
	all: revert;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.8rem;
}

.mainTitle {
	letter-spacing: -0.5rem;
}

.contactIcons {
	display: flex;
	justify-content: center;
	gap: 1rem;
}

.projectSection {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}

.projectList {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.projectList li {
	font-size: 0.8rem;
}

.footerDiv {
	font-size: 0.8rem;
}

/* Mobile */
@media (min-width: 320px) {
	header {
		margin: 1rem 0;
	}

	.mainTitle {
		font-size: 4rem;
	}

	.subtitle {
		font-size: 0.8rem;
	}

	.projectTitle {
		font-size: 1.2rem;
	}

	.projectList {
		gap: 1.5rem;
    }
}

/* Tablet */
@media (min-width: 768px) {
	.mainTitle {
		font-size: 5.5rem;
	}

	.subtitle {
		font-size: 1rem;
	}

	.projectTitle {
		font-size: 1.5rem;
	}

	.projectList {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		gap: 1.5rem; /* row-gap column-gap */
	}
	
	.projectList li {
		width: calc(50% - .75rem);
		font-size: 1rem;
	}
}

/* Small Laptop */
@media (min-width: 1024px) {
	.mainTitle {
		font-size: 6.5rem;
		letter-spacing: -1rem;
	}

	.projectTitle {
		font-size: 1.8rem;
	}
	
	.projectList {
		gap: 1.5rem 3rem; /* row-gap column-gap */
	}

	.projectList li {
		width: calc(50% - 1.5rem); /* Adjust width to create two columns */
	}

}

/* Large Laptop */
@media (min-width: 1440px) {
	.mainTitle {
		font-size: 8rem;
	}

	.projectTitle {
		font-size: 2rem;
	}
	
	.projectList {
		gap: 2rem 4rem; /* row-gap column-gap */
	}

	.projectList li {
		width: calc(50% - 2rem); /* Adjust width to create two columns */
	}
}